@import './colors';

*, :before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: $backgroundColor;
}

a {
    text-decoration: none;
    color: #000000;
    border-radius: inherit;
}

img {
    display: block;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}