.profile {
    display: flex;
    flex-direction: column;

    &__title {

    }

    &__detail {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        & > dl {
            display: flex;
            margin: 0;
        }
    }
}